{% macro dialect_dropdown(dialects, selected_dialect, dialect_type) %}

<details class="dropdown">
    <summary id="{{ dialect_type }}-dialect">{{ selected_dialect }}</summary>
    <ul>
        {% for dialect in dialects %}
        {% if dialect != selected_dialect %}
        <li hx-trigger="click" hx-get="/dialect-dropdown" hx-vals='{"dialect": "{{ dialect }}"}'
            hx-target="#{{ dialect_type}}-dialect-dropdown" value="{{ dialect }}"
        >
            <a>{{ dialect }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</details>

{% endmacro %}

{{ dialect_dropdown(dialects, selected_dialect, dialect_type) }}
