/* copied from https://github.com/picocss/pico/discussions/482#discussioncomment-9043725 */
:root {
  --pico-font-family-sans-serif: Inter, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif,
    var(--pico-font-family-emoji);
  --pico-font-size: 87.5%;
  /* Original: 100% */
  --pico-line-height: 1.25;
  /* Original: 1.5 */
  --pico-form-element-spacing-vertical: 0.5rem;
  /* Original: 1rem */
  --pico-form-element-spacing-horizontal: 1rem;
  /* Original: 1.25rem */
  --pico-border-radius: 0.375rem;
  /* Original: 0.25rem */
}

@media (min-width: 576px) {
  :root {
    --pico-font-size: 87.5%;
    /* Original: 106.25% */
  }
}

@media (min-width: 768px) {
  :root {
    --pico-font-size: 87.5%;
    /* Original: 112.5% */
  }
}

@media (min-width: 1024px) {
  :root {
    --pico-font-size: 87.5%;
    /* Original: 118.75% */
  }
}

@media (min-width: 1280px) {
  :root {
    --pico-font-size: 87.5%;
    /* Original: 125% */
  }
}

@media (min-width: 1536px) {
  :root {
    --pico-font-size: 87.5%;
    /* Original: 131.25% */
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --pico-font-weight: 600;
  /* Original: 700 */
}

/* my own styles */
select {
  width: 30%;
}

header {
    border-bottom: 1px solid;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; /* Aligns items to opposite ends */
    align-items: center;
}

header .left-section {
    display: flex;
    align-items: center;
}

header img {
    width: 40px;
    height: auto;
}

header h1 {
    margin: 5px;
}

header .right-section {
    /* Optionally add some margin to separate from the header edge */
    margin-left: auto; /* Pushes the GitHub icon to the right */
}


footer {
  text-align: center;
}

/* Set editor dimensions */
.editor {
  height: 575px;
  width: 100%;
}

/* Stretch editor to fit inside its containing div */
.cm-editor {
  height: 100%;
  width: 100%;
}

/* hide cursor in output editor */
#output-editor .cm-cursor {
  visibility: hidden;
}

#format-btn {
  margin-bottom: 10px; /* Pushes it away from the dropdown */
  height: 33.25px;
}

.common-width {
  width: 150px;
}

.flex-row {
  display: flex;
  gap: 10px; /* Adds space between dropdown and button */
}
