<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Translate</title>
    <link href="{{ url_for('static', path='css/pico.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', path='images/favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', path='js/htmx.min.js') }}"></script>
</head>

<body>
    <header>
        <img src="{{ url_for('static', path='images/logo.png') }}" alt="Logo">
        <h1>SQL Translate</h1>
    </header>

    {% block content %}
    {% endblock content %}
    <footer>
        <h6>Powered by</h6>
        <a href="https://github.com/tobymao/sqlglot" target="_blank">
            <img src="{{ url_for('static', path='images/sqlglot.png') }}" alt="SQLGlot"
                style="width: 150px; height: 40px;">
        </a>
    </footer>
</body>

</html>
