{% extends "base.html" %}

{% block content %}

<div class="container">
    <section class="grid">
        <div>
            <!-- I should be passing in a list of dialects and images -->
            <!-- trigger on on change -->
            <select id="from-dialect-select" name="from_dialect" required
            hx-trigger="change"
            hx-include="[name='from_dialect'], [name='to_dialect']" hx-vals='js:{sql: inputView.state.doc.toString()}'
            hx-target="#output-textarea-container"
            >
                {% for dialect in dialects %}
                    <option value="{{ dialect }}" {% if dialect == 'MySQL' %}selected{% endif %}>{{ dialect }}</option>
                {% endfor %}
            </select>
            <button
                hx-post="/format"
                hx-include="[name='from_dialect']" hx-vals='js:{sql: inputView.state.doc.toString()}'
                hx-target="#input-textarea-container"
            >
                Format
            </button>

            <div class="editor" id="input-editor"></div>
        </div>

        <div>
            <!-- I should be passing in a list of dialects and images -->
            <select id="to-dialect-select" name="to_dialect" required>
                {% for dialect in dialects %}
                    <option value="{{ dialect }}" {% if dialect == 'Postgres' %}selected{% endif %}>{{ dialect }}</option>
                {% endfor %}
            </select>
            <div class="editor" id="output-editor"></div>
        </div>

    </section>

</div>

<div id="input-textarea-container" style="display: none;"
>
    <textarea id="input-textarea"></textarea>
</div>

<div id="output-textarea-container" style="display: none;" hx-trigger="editor-changed delay:500ms" hx-post="/translate"
    hx-include="[name='from_dialect'], [name='to_dialect']" hx-vals='js:{sql: inputView.state.doc.toString()}'>
    <textarea id="output-textarea"></textarea>
</div>

<script src="{{ url_for('static', path='js/editor.bundle.min.js') }}"></script>
<script src="{{ url_for('static', path='js/editor-setup.js') }}"></script>
{% endblock content %}
