{% from "fragments/dialect-dropdown.html" import dialect_dropdown %}

{% extends "base.html" %}

{% block content %}

<div class="container">
    <section class="grid">
        <div>
            <div class="grid">
                <div id="from-dialect-dropdown">
                    {{ dialect_dropdown(dialects, "MySQL", "from") }}
                </div>
                <!-- need to figure out a way to get the from dialect in hv-vals in summary-->
                <button id="format-btn" hx-post="/format"
                    hx-vals='js:{sql: inputView.state.doc.toString(), from_dialect: getDialect("from")}'
                    hx-target="#input-textarea-container">
                    Format
                </button>
            </div>

            <div class="editor" id="input-editor"></div>
        </div>

        <div>
            <div id="to-dialect-dropdown"
                hx-on::after-swap="htmx.trigger('#output-textarea-container', 'dialect-changed')">
                {{ dialect_dropdown(dialects, "Postgres", "to") }}
            </div>
            <div class="editor" id="output-editor"></div>
        </div>

    </section>

</div>

<div id="input-textarea-container" style="display: none;">
    <textarea id="input-textarea"></textarea>
</div>

<!-- need to figure out how to send events to drop down changes -->
<div id="output-textarea-container" style="display: none;"
    hx-trigger="editor-changed delay:500ms, dialect-changed from:body" hx-post="/translate"
    hx-vals='js:{sql: inputView.state.doc.toString(), from_dialect: getDialect("from"), to_dialect: getDialect("to")}'>
    <textarea id="output-textarea"></textarea>
</div>

<script src="{{ url_for('static', path='js/editor.bundle.min.js') }}"></script>
<script src="{{ url_for('static', path='js/editor-setup.js') }}"></script>
<script>
    function getDialect(dialectType) {
        return document.querySelector(`#${dialectType}-dialect`).textContent
    }
</script>
{% endblock content %}
